In [ ]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="subha@24",
    database="employeepayroll"
)
cursor = conn.cursor()

# Create Employee Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Employee (
        emp_id INT PRIMARY KEY,
        emp_title VARCHAR(255),
        emp_name VARCHAR(255),
        emp_dob DATE,
        emp_doj DATE,
        emp_address VARCHAR(255),
        emp_city VARCHAR(255),
        emp_pincode INT,
        emp_mobile_no INT,
        emp_state VARCHAR(255),
        emp_mail_id VARCHAR(255)
    )
""")

# Create Grade Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Grade (
        grade_id INT PRIMARY KEY,
        grade_name VARCHAR(255),
        grade_short_name VARCHAR(255),
        grade_basic INT,
        grade_ta INT,
        grade_da INT,
        grade_hra INT,
        grade_ma INT,
        grade_bonus INT,
        grade_pf INT,
        grade_pt INT
    )
""")

# Create Department Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Department (
        dept_id INT PRIMARY KEY,
        dept_name VARCHAR(255)
    )
""")

# Create User Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS User (
        user_id INT PRIMARY KEY,
        user_name VARCHAR(255),
        password VARCHAR(255),
        email_id VARCHAR(255),
        usertype VARCHAR(255)
    )
""")

# Create Employee Grade Details Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Employee_Grade_Details (
        transaction_id INT AUTO_INCREMENT PRIMARY KEY,
        emp_id INT,
        emp_dept_id INT,
        emp_grade_id INT,
        emp_from_date DATE,
        emp_to_date VARCHAR(255)
    )
""")

# Create Salary Table with Gross Salary and Net Salary
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Salary (
        transaction_id INT AUTO_INCREMENT PRIMARY KEY,
        emp_id INT,
        salary_month VARCHAR(255),
        salary_year VARCHAR(255),
        salary_eimbursment_date DATETIME,
        dept_id INT,
        grade_id INT,
        basic INT,
        da INT,
        ta INT,
        hra INT,
        ma INT,
        bonus INT,
        pf INT,
        pt INT,
        gross_salary INT,
        net_salary INT
    )
""")

# Predefined values for Grade and Department
predefined_grades = [
    (1, "Manager", "Mgr", 50000, 2000, 5000, 8000, 2000, 5000, 10000, 2000),
    (2, "Developer", "Dev", 40000, 1500, 4000, 6000, 1500, 4000, 8000, 1500),
    (3, "Employee", "Emp", 30000, 3000, 2000, 1000, 300, 15000, 3000, 100)
]

predefined_departments = [
    (1, "HR"),
    (2, "Engineering"),
    (3, "Sales")
]

# Insert predefined values
cursor.executemany("INSERT IGNORE INTO Grade VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", predefined_grades)
cursor.executemany("INSERT IGNORE INTO Department VALUES (%s, %s)", predefined_departments)
conn.commit()

def get_input(prompt):
    return input(prompt)

# Function to add an employee
def add_employee():
    emp_id = get_input("Enter Employee ID: ")
    emp_title = get_input("Enter Employee Title: ")
    emp_name = get_input("Enter Employee Name: ")
    emp_dob = get_input("Enter Employee Date of Birth (YYYY-MM-DD): ")
    emp_doj = get_input("Enter Employee Date of Joining (YYYY-MM-DD): ")
    emp_address = get_input("Enter Employee Address: ")
    emp_city = get_input("Enter Employee City: ")
    emp_pincode = get_input("Enter Employee Pincode: ")
    emp_mobile_no = get_input("Enter Employee Mobile No: ")
    emp_state = get_input("Enter Employee State: ")
    emp_mail_id = get_input("Enter Employee Mail ID: ")
    
    sql = "INSERT INTO Employee (emp_id, emp_title, emp_name, emp_dob, emp_doj, emp_address, emp_city, emp_pincode, emp_mobile_no, emp_state, emp_mail_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (emp_id, emp_title, emp_name, emp_dob, emp_doj, emp_address, emp_city, emp_pincode, emp_mobile_no, emp_state, emp_mail_id)
    cursor.execute(sql, val)
    conn.commit()
    print("Employee added Successfully")

# Function to add a user
def add_user():
    user_id = get_input("Enter User ID: ")
    user_name = get_input("Enter User Name: ")
    password = get_input("Enter Password: ")
    email_id = get_input("Enter Email ID: ")
    usertype = get_input("Enter User Type: ")
    
    sql = "INSERT INTO User (user_id, user_name, password, email_id, usertype) VALUES (%s, %s, %s, %s, %s)"
    val = (user_id, user_name, password, email_id, usertype)
    cursor.execute(sql, val)
    conn.commit()
    print("User added Successfully")

# Function to add employee grade details
def add_employee_grade_details():
    emp_id = get_input("Enter Employee ID: ")
    emp_dept_id = get_input("Enter Employee Department ID: ")
    emp_grade_id = get_input("Enter Employee Grade ID: ")
    emp_from_date = get_input("Enter From Date (YYYY-MM-DD): ")
    emp_to_date = get_input("Enter To Date (YYYY-MM-DD): ")
    
    sql = "INSERT INTO Employee_Grade_Details (emp_id, emp_dept_id, emp_grade_id, emp_from_date, emp_to_date) VALUES (%s, %s, %s, %s, %s)"
    val = (emp_id, emp_dept_id, emp_grade_id, emp_from_date, emp_to_date)
    cursor.execute(sql, val)
    conn.commit()
    print("Employee grade details added Successfully")
    

# Function to add salary details
def add_salary_details():
    emp_id = get_input("Enter Employee ID: ")
    salary_month = get_input("Enter Salary Month: ")
    salary_year = get_input("Enter Salary Year: ")
    salary_eimbursment_date = get_input("Enter Salary Eimbursment Date (YYYY-MM-DD): ")
    dept_id = get_input("Enter Department ID: ")
    grade_id = get_input("Enter Grade ID: ")
    
    # Fetch default salary details from Grade table
    cursor.execute("SELECT grade_basic, grade_da, grade_ta, grade_hra, grade_ma, grade_bonus, grade_pf, grade_pt FROM Grade WHERE grade_id = %s", (grade_id,))
    grade_details = cursor.fetchone()
    
    if grade_details:
        basic, da, ta, hra, ma, bonus, pf, pt = grade_details
        # Calculate gross salary and net salary
        gross_salary = basic + da + ta + hra + ma + bonus
        net_salary = gross_salary - pf - pt
        
        sql = "INSERT INTO Salary (emp_id, salary_month, salary_year, salary_eimbursment_date, dept_id, grade_id, basic, da, ta, hra, ma, bonus, pf, pt, gross_salary, net_salary) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        val = (emp_id, salary_month, salary_year, salary_eimbursment_date, dept_id, grade_id, basic, da, ta, hra, ma, bonus, pf, pt, gross_salary, net_salary)
        cursor.execute(sql, val)
        conn.commit()
    else:
        print("Grade details not found for the provided Grade ID.")

# Function to update an employee's details
def update_employee():
    emp_id = get_input("Enter Employee ID to update: ")
    field_to_update = get_input("Enter field to update (title/name/dob/doj/address/city/pincode/mobile/state/mail_id): ").lower()
    new_value = get_input(f"Enter new value for {field_to_update}: ")

    fields = [
        "emp_title",
        "emp_name",
        "emp_dob",
        "emp_doj",
        "emp_address",
        "emp_city",
        "emp_pincode",
        "emp_mobile_no",
        "emp_state",
        "emp_mail_id"
    ]

    if field_to_update in fields:
        sql = f"UPDATE Employee SET {field_to_update} = %s WHERE emp_id = %s"
        val = (new_value, emp_id)
        cursor.execute(sql, val)
        conn.commit()
        print("Employee details updated successfully.")
    else:
        print("Invalid field name.")

# Function to delete an employee
def delete_employee():
    emp_id = get_input("Enter Employee ID to delete: ")
    sql = "DELETE FROM Employee WHERE emp_id = %s"
    val = (emp_id,)
    cursor.execute(sql, val)
    conn.commit()
    print("Employee deleted Successfully")

# Function to delete an employee's grade details
def delete_employee_grade_details():
    emp_id = get_input("Enter Employee ID to delete grade details: ")
    sql = "DELETE FROM Employee_Grade_Details WHERE emp_id = %s"
    val = (emp_id,)
    cursor.execute(sql, val)
    conn.commit()
    print("Employee grade details deleted Successfully")

# Function to delete a user
def delete_user():
    user_id = get_input("Enter User ID to delete: ")
    
    sql = "DELETE FROM User WHERE user_id = %s"
    val = (user_id,)
    cursor.execute(sql, val)
    conn.commit()
    print("User deleted Successfully")

# Main function to display options
def main():
    while True:
        print("\nChoice:")
        print("1. Add Employee")
        print("2. Add User")
        print("3. Add Employee Grade Details")
        print("4. Add Salary Details")
        print("5. Update Employee Details")
        print("6. Delete Employee")
        print("7. Delete Employee Grade Details")
        print("8. Delete User")
        print("9. Exit")
        choice = input("Enter your choice: ")
        
        if choice == "1":
            add_employee()
        elif choice == "2":
            add_user()
        elif choice == "3":
            add_employee_grade_details()
        elif choice == "4":
            add_salary_details()
        elif choice == "5":
            update_employee()
        elif choice == "6":
            delete_employee()
        elif choice == "7":
            delete_employee_grade_details()
        elif choice == "8":
            delete_user()
        elif choice == "9":
            break
        else:
            print("Invalid choice. Please enter a number from 1 to 9.")

# Run the main function
if __name__ == "__main__":
    main()

# Close the connection
conn.close()

Choice:
1. Add Employee
2. Add User
3. Add Employee Grade Details
4. Add Salary Details
5. Update Employee Details
6. Delete Employee
7. Delete Employee Grade Details
8. Delete User
9. Exit

In [ ]:
1